.mobileBurger{
    visibility: hidden;
    display: none;
    padding: 5%;
}

#buttonMenu li a{
    visibility: visible;
    display: block;
    background-color: transparent;
}

.hiddenMenu{
    padding-top: 15%;
    padding-bottom:5%;
    position: absolute;
    background-color: #f6f6f6;
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index:2;
}


.mobileMenu{
    display: block;
    visibility: hidden;

}

.buttonTransparent{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 3rem;
    display: none;
}

.hiddenLogo{
    visibility: hidden;
    display: block;
    display: none;
    align-content: center;
    padding-left: 5%;
}

.hiddenLogo h2{
    border-bottom: 1px solid #ccd6f6;
    padding-bottom: 0;
    border-left: 1px solid #ccd6f6;
    padding: 5px;
}


.flexBurger{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#buttonMenu i{
    color: #ccd6f6;
}

nav ul li {
        position: relative;
    }

nav ul {
        position: absolute;
        width: 100%;
    }


    .contactNavInfo p{
        color: #233554;
        
    }

    .contactNavInfo{
    text-decoration: none;
    opacity: .9;
    color: #ccd6f6;
    padding: 0;
    margin: 0;
    display: block;
    border: 1px solid transparent;

}

.contactNavInfo:hover{
    color: rgb(196, 49, 49);
    border: 1px solid white;
}

