.footerBG{
    background-color: #233554;
    width: 100%;
    background-size: cover; 
}

.footerBG i{
    color: #e6f1ff;
}

.getInTouch{
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.getInTouch h2{
    padding: 2%;
    color: #e6f1ff;
}

.getInTouch p{
    padding: 2%;
    color: #e6f1ff;
}


.contactIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactIcons li{
    padding: 2%;
}

.footerLinks{
    background-color: #353a40;
    width: 100%;
    padding: 2%;
}

.returnTop{
    float: right;
}

.footerLinks p{
    color: whitesmoke
}

footer a{
    transition: color 0.3s ease-in-out;
    color: whitesmoke;
    text-decoration: none;
    &:focus,
    &:hover{
        color: #f5df4e;
    }
}
