

// CAROUSEL 2
.imageContainer{
  display: flex;
  flex-direction: column;
}

.flexCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContainer .imageContainer {
  margin: 5px;
  padding: 5px;
}
.carouselContainer .imageContainer img {
  width: 500px;
  height: 300px;
  margin: 5px;
  padding: 5px;
}
.carouselContainer .imageContainer div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.carouselContainer .imageContainer div ul li {
  display: inline;
  margin: 3px;
  color: grey;
  cursor: pointer;
}
.carouselContainer .left-arrow,
.carouselContainer .right-arrow {
  cursor: pointer;
}
.carouselContainer .left-arrow h1,
.carouselContainer .right-arrow h1 {
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  .carouselContainer .imageContainer img {
    width: 200px;
    height: 150px;
  }
}



