// CAROUSEL 

.imageGallery{
  padding-bottom: 8%;
  background: #233554;
}

.imageContainer{
  display: flex;
  flex-direction: column;
}

.flexCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 900px;
}
.carouselContainer .imageContainer {
  margin: 5px;
  padding: 5px;
}
.carouselContainer .imageContainer img {
  width: 700px;
  height: auto;
  margin: 5px;
  padding: 5px;
}

.checkOutWork{
  padding-bottom: 2%;
  padding-top: 8%;
}

.carouselContainer .imageContainer div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carouselContainer .imageContainer div ul li {
  display: inline;
  margin: 3px;
  color: #e6f1ff;
  cursor: pointer;
}

.carouselContainer .left-arrow,
.carouselContainer .right-arrow {
  cursor: pointer;
}

.carouselContainer .left-arrow h1,
.carouselContainer .right-arrow h1{
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 5px;
}

.left-arrow,
.right-arrow{
  color: #e6f1ff;
}

.carousel{
  border-radius: 50px;
}

// DESCRIPTIONS

.recentWorkDesc{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-top: 5%;
  max-width: 875px;
}

.recentWorkDesc a,
.recentWorkDesc p,
.recentWorkDesc h2{
  text-decoration: none;
  color: #e6f1ff;
}

.links{
  display: flex;
  justify-content: center;
  align-content: center;
}

.recentWorkDesc h2{
  margin-bottom: 2%;
  border: 1px solid #e6f1ff;
  width: 300px;
  margin: 2% auto
}

.recentWorkDesc p{
  margin-left:5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.links P{
  border-bottom: 1px solid #e6f1ff;
}

.recentWorkDesc .builtBy a:hover{
  color: orange;
}

.links a:hover{
  color: orange;
}

/*TEST*/

.carouselFlexContainer{
  display: flex;
}

.dotList{
  display: none;
}

