// HEADER SECTION


header{
    background-color: #f5df4e;
    // 
    height: 100vh;
    background-size: cover;
}

h1{
    line-height: 4.25rem;
}


// HERO SECTION

.myImage{
    width: 300px;
    border-radius: 500px;
    border: 10px black solid;
}

.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.introInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

