.hireMeBG{
    background: url(./assets/cytonn-photography-ZJEKICY5EXY-unsplash.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


// .hireBtn{
//     width: 250px;
//     margin: 0 auto;
//     background-color: #f5df4e;
//     color: #353a40;
//     border: none;
//     padding: 10px 20px;
// }

.keyboardImg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.keyboardImg h2{
    color: whitesmoke;
}