@media (max-width: 1075px) {
    .navBar{
    padding: 0 1% 0 1%;
    }
    h1{
        font-size: 1.75rem
    };
    .mainHL{
        font-size: 2.5rem;
    }
    .myImage{
    width: 250px;
    }
}

@media (max-width: 960px) {
    h1{
    font-size: 1.25rem
    };
    .mainHL{
    font-size: 1.75rem;
    }
}

@media (max-width: 885px) {
    .myImage{
    width: 250px;
    }
    .mainHL{
    font-size: 2.5rem;
    }
    .myImage{
    width: 200px;
    }
    .mainHL{
    font-size: 2rem;
    }
    h1{
    font-size: 1.75rem;
    }
}

@media (max-width: 845px) {

    .carouselContainer .imageContainer img {
    width: 500px;
    
}

    h1{
    font-size: 2rem
    };
    .mainHL{
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    }
    .myImage{
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    }
    .getToKnow,
    .hiIAm{
        font-size: 1.25rem;
        padding-bottom: 3%;
    }
    .aboutMePara p{
        width: 80%;
    }
    .contactLinks a{
    padding: 5%;
    }
    .checkOutWork {
    padding-bottom: 5%;
    padding-top: 5%;
    }
}

@media (max-width: 600px) {
    .carouselContainer .imageContainer img {
    width: 400px;
    }
}


@media (max-width: 750px) {

    .contactNavInfo{
    background-color: #ccd6f6;
    opacity: .9;
    
    }


    .hiddenLinks p{
        color:black;
    }

    .contactNavInfo p:hover{
        color: rgb(196, 49, 49);
    }


    .headlineContainer {
    max-width: 719px;
    min-height: auto;
    margin: 0 auto;
    padding: 10% 5% 5% 5%;
    display: flex;
    justify-content: center;
    }

    .headlineContainer h1{
        max-width: 360px;
        padding: 0;
        margin: 0;
    }
    .mainHL{
        min-width: 0px;
        margin: 0 auto;
    }
    input[type="checkbox"]{
    width: 200px;
    height: 200px;
}
.mobileBurger{
    position: absolute;
}
.hiddenLogo{
    padding-right: 300px;
}
.highlight{
    font-size: 1.5rem;
}
.skillsBring{
    font-size: 1.25rem;
}

.skillContainer h3{
    font-size: .75rem;
}

    .hiddenLogo{
        display: block;
        color: #ccd6f6;
        padding-bottom: 1%;
    }
    .mobileBurger{
        visibility: visible;
        display: block;
    }
    .mobileMenu{
    display: block;
    visibility: visible;
}
    .navBar{
        visibility: hidden;
    }
    .hiddenLogo{
    visibility: visible;
}

    h1{
        line-height: 3rem;
    }

    .navBar a,
    .rightLinks a{
    padding: 5%;
    }

    .buttonTransparent{
    display: block;
    padding: 5%;
}
    .titleImg{
    display: block;
    }

    nav,
    .center{
        margin: 0;
        padding: 0;
    }
    h1{
        line-height: 2rem;
    }
    .selfImage{
        width: 250px;
    }
    .mobileCenter{
        display: flex;
        justify-content: center;
        padding: 10%;
    }
        .footerLinks p{
        padding: 5%;
    }

    .footerLinks{
        padding: 8%;
    }

    .contactIcons li {
    padding: 5%;
    }
}


@media (max-width: 500px) {
    h2, h3{
        font-size: 1rem;
    }
    .getToKnow,
    .hiIAm{
        font-size: 1.25rem;
        padding-bottom: 3%;
    }
    .aboutMePara p{
        width: 80%;
    }
    .contactLinks a{
    padding: 5%;
    }
    .checkOutWork {
    padding-bottom: 5%;
    padding-top: 5%;
    }
    .carouselContainer .imageContainer img {
    width: 400px;
    height: auto;
    margin: 5px;
    padding: 5px;
    }
    .position {
    font-weight: bold;
    margin: 10% 0;
    }

    .footerLinks p{
        padding: 5%;
    }

    .footerLinks{
        padding: 8%;
    }

    .contactIcons li {
    padding: 5%;
    }

    .recentWorkDesc{
    margin-top: 10%;
    }

    .recentWorkDesc h2{
    margin-bottom: 5%;
    }

.recentWorkDesc p{
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 5%;
    }
}

@media (max-width: 475px) {
    .carouselContainer .imageContainer img {
    width: 300px;
    height: auto;
    margin: 5px;
    padding: 5px;
    }

}

@media (max-width: 360px) {
    .headlineContainer{
        max-width:360px;
        min-height: auto;
        margin: 0 auto;
    }
    .headlineContainer h1{
        max-width: 360px;
        padding: 0;
        margin: 0;
    }
    .mainHL{
        min-width: 0px;
        margin: 0 auto;
    }
    input[type="checkbox"]{
    width: 200px;
    height: 200px;
}
.mobileBurger{
    position: absolute;
}
.hiddenLogo{
      padding-right: 110px;
}
.contactNavInfo{
    background-color: white;
}
.aboutMeHL{
    padding-top: 5%;
    padding-bottom: 5%;
}

.highlight{
    font-size: 1.5rem;
}

.skillsBring{
    padding-bottom: 5%;
}

.skillsSec{
    padding-top: 5%;
    padding-bottom: 5%;
}

.skillsSec h2{
    padding-top: 5%;
    padding-bottom: 5%;
}

.getToKnow{
    padding-bottom: 5%;
}
.aboutMeHL h2{
    padding-top: 5%;
    padding-bottom: 5%;
}
.skillContainer li i{
    font-size: 1rem;
}

.skill h3{
    font-size: 1rem;
}
.skillContainer h3, .skillContainer p {
    font-size: .75rem;
}

}

@media (max-width: 1350px) {
    .navBar{
        padding: 5%;
    }


}