.resumeSec{
    margin-top:8%;
}


.resumeSec h2{
    padding: 2% 0 5% 0;
    color: black;
}

.education,
.experience{
    width: 45%;
    border-left: 2px solid #f5df4e;
    padding: 2%;
}

.resume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8%;
}

.greyUL{
    border-bottom: 2px solid hsl(213, 9, 23, .3);
    margin: 1%;  
    width: 90%;
    padding: 2% 0;
}

.position{
    font-weight: bold;
    margin: 1%;
}

.location{
    margin: 1%;
}

.fontC{
    color: black;
}

.position ul li{
    color: black;
}

