

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

li{
    font-family: 'Roboto', sans-serif;
    list-style-type:none;
}

h1, h2, h3, h4, p, label{ 
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1{
    color: #ccd6f6;
    line-height: 4.25rem;
}

.navBar a{
    color: #ccd6f6;
}

.scrollDown a{
    color: #ccd6f6;
}

.contactNavInfo i{
    color: #57cbff;
}


