/* Setup Snippet */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #e6f1ff;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #233554;
  height: 100vh;
  background-size: cover;
}

.mainHL {
  font-size: 3rem;
}

.myImage {
  width: 300px;
  border-radius: 500px;
  border: 10px black solid;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageGallery {
  padding-bottom: 8%;
  background: #233554;
}

.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carouselContainer .imageContainer {
  margin: 5px;
  padding: 5px;
}

.carouselContainer .imageContainer img {
  width: 700px;
  height: auto;
  margin: 5px;
  padding: 5px;
}

.checkOutWork {
  padding-bottom: 2%;
  padding-top: 8%;
}

.carouselContainer .imageContainer div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carouselContainer .imageContainer div ul li {
  display: inline;
  margin: 3px;
  color: #e6f1ff;
  cursor: pointer;
}

.carouselContainer .left-arrow,
.carouselContainer .right-arrow {
  cursor: pointer;
}

.carouselContainer .left-arrow h1,
.carouselContainer .right-arrow h1 {
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 5px;
}

.left-arrow,
.right-arrow {
  color: #e6f1ff;
}

.carousel {
  border-radius: 50px;
}

.recentWorkDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5%;
}

.recentWorkDesc a,
.recentWorkDesc p,
.recentWorkDesc h2 {
  text-decoration: none;
  color: #e6f1ff;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recentWorkDesc h2 {
  margin-bottom: 2%;
  border: 1px solid #e6f1ff;
  width: 300px;
  margin: 2% auto;
}

.recentWorkDesc p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.links P {
  border-bottom: 1px solid #e6f1ff;
}

.recentWorkDesc .builtBy a:hover {
  color: orange;
}

.links a:hover {
  color: orange;
}

.projectsBtn {
  width: 250px;
  margin: 0 auto;
  background-color: #353a40;
  color: #e6f1ff;
  border: none;
  padding: 10px 20px;
  background: black;
  border: 1px solid #e6f1ff;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.projectsBtn a:visited {
  color: #e6f1ff;
}

a {
  color: #e6f1ff;
}

.projectsBtn:hover, .projectsBtn:hover, .projectsBtn:focus {
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectsBtn:hover.projectsBtn a, .projectsBtn:hover.projectsBtn a, .projectsBtn:focus.projectsBtn a {
  color: black;
}

.projectsBtn:active {
  color: red;
}

.hireBtn {
  width: 250px;
  margin: 0 auto;
  color: #353a40;
  border: none;
  padding: 10px 20px;
  background: #e6f1ff;
  border: 1px solid #353a40;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hireBtn:hover, .hireBtn:focus {
  background: #353a40;
  color: #e6f1ff;
}

.hireBtn:active {
  color: red;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

span {
  display: block;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

li {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

h1, h2, h3, h4, p, label {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  color: #ccd6f6;
  line-height: 4.25rem;
}

.navBar a {
  color: #ccd6f6;
}

.scrollDown a {
  color: #ccd6f6;
}

.contactNavInfo i {
  color: #57cbff;
}

.navBar {
  padding: 0 3% 0px 3%;
  width: 100%;
  overflow: hidden;
}

.logoName {
  font-size: 2rem;
  border-bottom: 1px solid #ccd6f6;
  padding-bottom: 0;
  border-left: 1px solid #ccd6f6;
}

.navBar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.leftLinks {
  float: left;
  text-align: center;
}

.rightLinks {
  float: right;
  text-align: center;
}

.rightLinks a {
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
}

.rightLinks a:hover {
  color: white;
  border: 1px solid white;
}

.flexContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  padding: 5% 5% 10% 5%;
  margin: 0;
  text-align: center;
}

.selfImage {
  width: 300px;
  border-radius: 500px;
  border: 10px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  overflow: auto;
  text-align: center;
  position: relative;
}

.resumeSec {
  margin-top: 8%;
}

.resumeSec h2 {
  padding: 2% 0 5% 0;
  color: black;
}

.education,
.experience {
  width: 45%;
  border-left: 2px solid #f5df4e;
  padding: 2%;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8%;
}

.greyUL {
  border-bottom: 2px solid rgba(53, 58, 64, 0.3);
  margin: 1%;
  width: 90%;
  padding: 2% 0;
}

.position {
  font-weight: bold;
  margin: 1%;
}

.location {
  margin: 1%;
}

.fontC {
  color: black;
}

.position ul li {
  color: black;
}

.resumeInfo ul li {
  color: black;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  width: 70%;
  padding: 2%;
}

input,
textarea,
#formButton {
  margin: 2%;
}

#formButton {
  width: 250px;
  margin: 0 auto;
  background-color: #353a40;
  color: #e6f1ff;
  border: none;
  padding: 10px 20px;
  background: black;
  border: 1px solid #e6f1ff;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#formButton:hover {
  background: white;
  color: #353a40;
  border: 1px black solid;
}

#formButton:active {
  color: red;
}

input,
textarea {
  border: 1px black solid;
  border-radius: 15px;
}

input {
  padding: 5px;
}

.contactForm h3 {
  padding: 3%;
}

#name, #email {
  padding: 15px;
}

#textarea {
  padding: 15px;
}

.hireMeBG {
  background: url(./assets/cytonn-photography-ZJEKICY5EXY-unsplash.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboardImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboardImg h2 {
  color: whitesmoke;
  padding: 2%;
}

.myName {
  display: inline-block;
  border-bottom: #f5df4e solid 2px;
  font-weight: bold;
}

main {
  background: #e6f1ff;
  padding: 0;
  margin: 0;
}

.build {
  font-weight: bold;
}

.aboutMeSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8%;
}

.aboutMeHL {
  font-weight: 100;
}

.getToKnow {
  font-weight: bold;
  padding: 2%;
}

.hiIAm {
  margin: 0;
  font-weight: 100;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding-bottom: 1%;
}

.aboutMePara {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.aboutMePara p {
  text-align: initial;
  width: 60%;
  line-height: 1.75rem;
}

/* CONTACT LINKS */
.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactLinks a {
  text-align: center;
  padding: 2%;
  color: #233554;
}

/* SKILLS SECTION */
.greyBG {
  padding-bottom: 8%;
  background: #e6f1ff;
}

.skillsHeadline {
  padding-top: 8%;
}

.skillsBring {
  padding-top: 3%;
  padding-bottom: 5%;
}

.skillSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.highlight {
  text-align: center;
  padding: 2px 10px;
  font-weight: 100;
  background-color: #f5df4e;
}

/* SKILLS GALLERY */
.skillContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 30%;
  padding: 2%;
}

.skillContainer h3,
.skillContainer p {
  color: black;
}

.skillsGallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #353a40;
  margin: 0;
  padding: 0;
}

.skillsGallery li {
  padding: 2%;
}

.skillsGallery i {
  font-size: 2rem;
  color: #233554;
}

.hoverText {
  display: none;
}

.skillHover:hover {
  display: block;
  color: black;
}

.footerBG {
  background-color: #233554;
  width: 100%;
  background-size: cover;
}

.footerBG i {
  color: #e6f1ff;
}

.getInTouch {
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.getInTouch h2 {
  padding: 2%;
  color: #e6f1ff;
}

.getInTouch p {
  padding: 2%;
  color: #e6f1ff;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactIcons li {
  padding: 2%;
}

.footerLinks {
  background-color: #353a40;
  width: 100%;
  padding: 2%;
}

.returnTop {
  float: right;
}

.footerLinks p {
  color: whitesmoke;
}

footer a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: whitesmoke;
  text-decoration: none;
}
footer a:focus, footer a:hover {
  color: #f5df4e;
}

.mobileBurger {
  visibility: hidden;
}

#buttonMenu li a {
  visibility: visible;
  display: block;
  background-color: transparent;
}

.hiddenMenu {
  padding-top: 15%;
  padding-bottom: 5%;
  position: absolute;
  background-color: #f6f6f6;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 2;
}

.mobileMenu {
  display: block;
  visibility: hidden;
}

.buttonTransparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 3rem;
  display: none;
}

.hiddenLogo {
  visibility: hidden;
  display: block;
  display: none;
}

.contactNavInfo {
  text-decoration: none;
  color: #ccd6f6;
  padding: 0;
  margin: 0;
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
}

.contactNavInfo:hover {
  color: white;
  border: 1px solid white;
}

@media (max-width: 1075px) {
  .navBar {
    padding: 0 1% 0 1%;
  }

  h1 {
    font-size: 1.75rem;
  }

  .mainHL {
    font-size: 2.5rem;
  }

  .myImage {
    width: 250px;
  }
}
@media (max-width: 960px) {
  h1 {
    font-size: 1.25rem;
  }

  .mainHL {
    font-size: 1.75rem;
  }
}
@media (max-width: 885px) {
  .myImage {
    width: 250px;
  }

  .mainHL {
    font-size: 2.5rem;
  }

  .myImage {
    width: 200px;
  }

  .mainHL {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 845px) {
  h1 {
    font-size: 2rem;
  }

  .mainHL {
    font-size: 2rem;
  }

  .myImage {
    width: 100px;
  }

  .getToKnow,
.hiIAm {
    font-size: 1.25rem;
    padding-bottom: 3%;
  }

  .aboutMePara p {
    width: 80%;
  }

  .contactLinks a {
    padding: 5%;
  }

  .checkOutWork {
    padding-bottom: 5%;
    padding-top: 5%;
  }
}
@media (max-width: 750px) {
  .hiddenLogo {
    display: block;
    color: #ccd6f6;
    padding-bottom: 1%;
  }

  .mobileBurger {
    visibility: visible;
  }

  .mobileMenu {
    display: block;
    visibility: visible;
  }

  .navBar {
    visibility: hidden;
  }

  .hiddenLogo {
    visibility: visible;
  }

  h1 {
    line-height: 3rem;
  }

  .navBar a,
.rightLinks a {
    padding: 5%;
  }

  .buttonTransparent {
    display: block;
    padding: 5%;
  }

  .titleImg {
    display: block;
  }

  nav,
.center {
    margin: 0;
    padding: 0;
  }

  h1 {
    line-height: 2rem;
  }

  .selfImage {
    width: 250px;
  }

  .mobileCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10%;
  }

  .footerLinks p {
    padding: 5%;
  }

  .footerLinks {
    padding: 8%;
  }

  .contactIcons li {
    padding: 5%;
  }
}
@media (max-width: 500px) {
  h2, h3 {
    font-size: 1rem;
  }

  .getToKnow,
.hiIAm {
    font-size: 1.25rem;
    padding-bottom: 3%;
  }

  .aboutMePara p {
    width: 80%;
  }

  .contactLinks a {
    padding: 5%;
  }

  .checkOutWork {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .carouselContainer .imageContainer img {
    width: 400px;
    height: auto;
    margin: 5px;
    padding: 5px;
  }

  .position {
    font-weight: bold;
    margin: 10% 0;
  }

  .footerLinks p {
    padding: 5%;
  }

  .footerLinks {
    padding: 8%;
  }

  .contactIcons li {
    padding: 5%;
  }

  .recentWorkDesc {
    margin-top: 10%;
  }

  .recentWorkDesc h2 {
    margin-bottom: 5%;
  }

  .recentWorkDesc p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
}
@media (max-width: 475px) {
  .carouselContainer .imageContainer img {
    width: 300px;
    height: auto;
    margin: 5px;
    padding: 5px;
  }
}